<footer>
  <div class="col-md-12">
    <a title="Source code for this website" target="_blank" href="https://github.com/jayzen/bootstrap-photo-app" class="btn btn-success">
      <i class="fa fa-code fa-lg"></i>
    </a>
    <a title="My GitHub" target="_blank" href="https://github.com/jayzen" class="btn btn-success">
      <i class="fa fa-github fa-lg"></i>
    </a>
  </div>
  <div class="col-md-12">
    <p>jayzen</p>
  </div>
</footer>
